.heading {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #4d5685;
    text-align: center;
    margin-top: 50px;
}
.box-container {
    display: flex;
    justify-content: space-evenly;
}
.box-container div img {
    height: 250px;
    width: 250px;
    border: 2px solid #FF7A00;
    border-radius: 30px;
}

.box {
    background-color: white;
    border-radius: 20px;
    margin: 10px 20px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
}

.box p {
    text-align: center;
    color: #4d5685;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}