.section2 {
    padding: 40px;
    background-color: #f8f9fa; /* Light background color */
}

.cards-container {
    display: flex;
    justify-content: space-between; /* Spacing between the cards */
    flex-wrap: wrap;
    gap: 20px;
}

.crd {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    max-width: 200px; /* Fixed width for cards similar to the provided image */
    width: 100%;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.crd-header img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.crd-body {
    font-size: 1rem;
    font-weight: 500;
    padding: 15px 0 10px;
    color: #4A4A4A; /* Darker font for card titles */
}

.crd-footer {
    padding: 10px 0;
}

.crd-button {
    background-color: #4d5685; /* Button background color */
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 25px; /* Fully rounded corners */
    font-size: 0.85rem; /* Smaller font size similar to the provided image */
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.crd-button:hover {
    background-color: #3b4271;
}

.crd:hover {
    transform: translateY(-5px); /* Card hover effect */
}
