.section2 {
    padding: 40px;
    background-color: #f8f9fa; 
}

.cards-container {
    display: flex;
    justify-content: space-between; 
    gap: 20px;
}

.crd {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease, box-shadow 0.4s ease, border 0.4s ease;
    max-width: 200px; 
    width: 100%;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    cursor: pointer;
}

.crd-header img {
    width: 90%;
    height: 100px;
    object-fit: cover;
    border-radius: 18px;
}

.crd-body {
    font-size: 1rem;
    font-weight: 500;
    padding: 15px 0 10px;
    color: #4A4A4A;
}

.crd-footer {
    padding: 10px 0;
}

.crd-button {
    background-color: #4d5685;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 25px;
    font-size: 0.85rem;
    transition: background-color 0.3s ease-in;
}

.crd-button:hover {
    background-color: #FF7A00;
}

.crd:hover {
    transform: scale(1.1); 
    border: 2px solid #FF7A00;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.crd.active {
    border: 2px solid #4d5685;

}
